.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.head {
width: 100%;
height: 300px;
display: flex;
justify-content: center;
align-items: center;
background-color: #0e88ec;
color: white;
}
.todo-item {

  width:100%;
  padding: 1.8em;
  border-radius: 8px;
  border: 1px solid gray;
  margin-top: 15px;
}

.todo-list {
  width: 60%;
  border-radius: 8px;
  margin: 0 auto;
}
.bot{
  display: flex;
  flex-direction:row;
 justify-content: space-around;

}